<?xml version="1.0"?>
<robot name="stairs">

  <link name="staircase">
  
    <!-- Step 4 -->
    <visual>
      <origin xyz="0 1.6 0.29"/>
      <geometry><box size="5 1 0.08"/></geometry>
    </visual>
    <collision>
      <origin xyz="0 1.6 0.29"/>
      <geometry><box size="5 1 0.08"/></geometry>
    </collision>




    <!-- Inertial (applied at center of first step, can be anywhere for static object) -->
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0.25 0.05"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>

  </link>

</robot>
